extends _extends/layout

block headex
	title Cool5 - Socks5 Proxy's Proxy
	link(rel="stylesheet", type="text/css", href="css/style.css")
	script(src='js/main.js')

block bodyex
	h1 Cool5 Obzvr
	p
		strong start date time: 
		span= startDateTime
	strong tunnel list
	if tunnelList.length > 0
		table(border='1')
			thead
				tr
					th(rowspan='2') id
					th(rowspan='2') type
					th(rowspan='2') createDateTime
					th(colspan='5') client
					th(colspan='5') server
					th(colspan='7') udp
				tr
					th status
					th error
					th connectDateTime
					th remoteAddress
					th remotePort

					th status
					th error
					th connectDateTime
					th remoteAddress
					th remotePort

					th status
					th error
					th createDateTime
					th localAddress
					th localPort
					th remoteAddress
					th remotePort
			tbody
				each tunnel in tunnelList
					tr
						td= tunnel.id
						td= tunnel.type
						td= tunnel.createDateTime

						td= tunnel.client.status
						td= tunnel.client.error
						td= tunnel.client.connectDateTime
						td= tunnel.client.remoteAddress
						td= tunnel.client.remotePort

						td= tunnel.server.status
						td= tunnel.server.error
						td= tunnel.server.connectDateTime
						td= tunnel.server.remoteAddress
						td= tunnel.server.remotePort

						td= tunnel.udp.status
						td= tunnel.udp.error
						td= tunnel.udp.createDateTime
						td= tunnel.udp.localAddress
						td= tunnel.udp.localPort
						td= tunnel.udp.remoteAddress
						td= tunnel.udp.remotePort

	else
		p tunnel list is empty
